<span id="about"></span>
<div class="container">
<section class="profile">
  <div class="profile-content">
      <div class="image">
          <div class="imge-container">
          <img src="assets/image/profile.jpg" alt="">
          <div class="layer-image">
            <a href="https://web.facebook.com/okaomar.emad" target="_blank" title="facebook"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/OmarEma67201669" target="_blank" title="x"><i class="fa-brands fa-x"></i></a>
           <a href="https://github.com/OmarEmad77" target="_blank" title="github"><i class="fa-brands fa-github"></i></a>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" title="gmail"> <i class="fa-solid fa-g"></i></a>
          </div>
      </div>
      </div>
      <div class="details">
          <h3>hello</h3>
          <p>I am a dedicated Front-End Developer with a strong focus on building high-performance web applications using Angular. With a background in Management Information Systems and hands-on experience in HTML, CSS, and JavaScript, I specialize in creating dynamic, responsive, and user-friendly interfaces. <span class="details-p">My attention to detail, commitment to clean code, and ability to translate user requirements into engaging UI/UX experiences allow me to deliver solutions that are both functional and visually appealing.</span>
          </p>
          <br>
           <div class="details-p">
            I’m passionate about leveraging the power of Angular’s framework to solve complex front-end challenges, and I'm always eager to collaborate on new projects to deliver seamless, scalable web applications. Let's connect and bring your ideas to life!.
          </div>
          <div class="details-parent">
          <div class="details-content">
              <div class="details-content-one">
          <h4>name: <span>omar emad</span></h4>
          <h4>age: <span>23 year</span></h4>
          <h4>freelancer: <span>available</span></h4>
      </div>
      <div class="details-content-two">
          <h4>job title: <span> front-end Dev</span></h4>
          <h4>location: <span>egypt</span></h4>
          <h4>E-mail: <span>omare4189&#64;gmail.com</span></h4>
      </div>
      </div>

      <div class="buttons">
         <a href=""><button>download cv <i class="fa-solid fa-download"></i></button></a>
         <a href="https://mostaql.com/u/Omar_emad112" target="_blank"> <button>hire me <i class="fa-brands fa-telegram"></i></button></a>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
