<br>
<br>
<br>
<span id="contact"></span>
<section class="contact">
  <div class="container">
      <h2 class=" header-section ">&nbsp; contact us</h2>
      <div class="line "></div>
      <div class="contact-parent row ">
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center ">
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="card h-100 card-hover  " >
              <div class="card-body">
                <i class="fa fa-map-marker fa-2x"></i>
                <h5 class="card-title">Address</h5>
                <p class="card-text">Gharbia, Egypt</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card h-100 card-hover">
              <div class="card-body">
                <i class="fa fa-mobile fa-2x"></i>
                <h5 class="card-title">Phone</h5>
                <p class="card-text">+201112154338</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="card h-100 card-hover"(click)="goToGmail()">
              <div class="card-body">
                <i class="fa fa-paper-plane fa-2x"></i>
                <h5 class="card-title">Email</h5>
                <p class="card-text">Omare4189&#64;gmail.com
                </p>
              </div>
            </div>
          </div>
        </div>
          <form action="" method="get" class="col-lg-6 mt-5  col-md-12 col-sm-12">
              <div class="half-parent">
              <input type="text" placeholder="Name" class="half">
              <input type="email" placeholder="Email" class="half">
          </div>
              <input class="sub" type="text" placeholder="Subject">
              <textarea name="massege" id="" cols="30" rows="10" placeholder="Massege"></textarea>
              <input (click)="goToGmail()" type="submit" value="Send Massege" class="save">
          </form>
      </div>
  </div>
</section>
<footer>
  <div class="end-icons">
    <div class="icons-contact">
    <a href="https://web.facebook.com/okaomar.emad" target="_blank" title="facebook"> <i class="fa-brands fa-facebook"></i></a>
    <a href="https://x.com/OmarEma67201669" target="_blank" title="x"><i class="fa-brands fa-x"></i></a>
   <a href="https://github.com/OmarEmad77" target="_blank" title="github"><i class="fa-brands fa-github"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" title="gmail"> <i class="fa-solid fa-g"></i></a>
  </div>
  <p class="copy-right">Copy Right 2024 © By <span>omar emad</span> Rights Reserved</p>
  </div>

</footer>
