<span id="portfolio"></span>
<div class="container">
  <section class="portfolio">
    <div>
  <h2 class="header-section"> Our Portfolio</h2>
  <div class="line"></div>
</div>
  <div class="parent">
  <div class="portfolio-parent">
     <div class="portfolio-box">
      <img src="assets/image/about-1.jpg" alt="photo not found">
      <div class="layer-portfolio">
        <h2>Feliciano Restaurant</h2>
        <a href="https://omaremad77.github.io/-Feliciano-Restaurant/" target="_blank"><i title="link" class="fa-solid fa-link"></i></a></div>
     </div>
     <div class="portfolio-box ">
      <img src="assets/image/Summer-Trellis-Sale-Home.jpg" alt="">
      <div class="layer-portfolio  ">
        <h2>Eartheasy</h2>
        <a href="https://omaremad77.github.io/Eartheasy/" target="_blank"><i title="link"  class="fa-solid fa-link"></i></a></div>
     </div>
     <div class="portfolio-box">
      <img src="assets/image/travela02.png" alt="">
      <div class="layer-portfolio">
        <h2>Organic Store</h2>
        <a href="" target="_blank"><i title="link" class="fa-solid fa-link"></i></a>
      </div>
     </div>
     <div class="portfolio-box">
      <img src="assets/image/atrium.jpg" alt="">
      <div class="layer-portfolio">
        <h2>Interiors Designer</h2>
        <a href="https://omaremad77.github.io/First-Responsive-Task/" target="_blank"><i title="link" class="fa-solid fa-link"></i></a>
      </div>
     </div>
     <div class="portfolio-box">
      <img src="assets/image/the-town-bg-01.jpg" alt="">
      <div class="layer-portfolio">
        <h2>The Town</h2>
        <a href="https://omaremad77.github.io/The-Town/" target="_blank"><i title="link" class="fa-solid fa-link"></i></a>
      </div>
     </div>
     <div class="portfolio-box">
      <img src="assets/image/Crud-System.png" alt="">
      <div class="layer-portfolio">
        <h2>Crud System</h2>
        <a href="https://omaremad77.github.io/Crud-System/" target="_blank"><i title="link" class="fa-solid fa-link"></i></a>
      </div>
     </div>
  </div>
</div>
  </section>
</div>

