<span id="services"></span>
<section class="services" >
  <div class="container">
      <h2 class="header-section"> our services</h2>
      <div class="line"></div>
          <div class="services-parent">
          <div class="services-box">
              <i class="fa-sharp fa-solid fa-pen-ruler fa-2xl pb-4"></i>
              <h2>WEB DESIGN</h2>
              <p>I create visually appealing, user-friendly websites with a focus on functionality and responsive design, ensuring an engaging experience across all devices.</p>
          </div>
          <div class="services-box">
              <i class="fa-solid fa-code fa-2xl pb-4"></i>
              <h2>APP DEVELOPMENT</h2>
              <p> I develop dynamic and efficient mobile and web applications that meet your specific business needs and provide a seamless user experience.</p>
          </div>
          <div class="services-box">
              <i class="fa-solid fa-chart-line fa-2xl pb-4"></i>
              <h2>PRODUCT DESIGN</h2>
              <p> design innovative and user-centered products, focusing on functionality, usability, and aesthetics to help bring your ideas to life and enhance customer satisfaction.</p>
          </div>
          <div class="services-box">
              <i class="fa-solid fa-gears fa-2xl pb-4"></i>
              <h2>UI/UX DESIGN</h2>
              <p>I craft intuitive interfaces and seamless user experiences that make digital products not only look good but also easy and enjoyable to use.

              </p>
          </div>
          </div>
          </div>
      </section>
