<span id="blog"></span>
<section class="blog">
  <div class="container">
  <h2 class="header-section blog-header">&nbsp; &nbsp; &nbsp;  blog</h2>
  &nbsp; <div class="line blog-line"></div>
  <div class="row row-cols-1 row-cols-md-3 g-4  ">
    <div class="col-lg-4 col-md-6 col-sm-12 content-box ">
      <div class="card h-100 blog-content ">
        <img class="h-50" src="assets/image/Optimizing-Website-Performance.webp" alt="pic blog Not found" >
        <div class="card-body">
          <span>May 30, 2023</span>
          <h5 class="card-title mt-4"(click)="goToLinkOne()">Optimizing Website Performance</h5>
          <p class="card-text">Harnessing the Power of Image Lazy Loading</p>
        </div>
        <div class="link"><a target="_blank" href="https://www.catchpoint.com/blog/optimizing-website-performance-harnessing-the-power-of-image-lazy-loading">read more <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 content-box">
      <div class="card h-100 blog-content">
        <img class="h-50"  src="assets/image/JavaScript ES6- Features-Every- Developer-Should-Know.webp" alt="pic blog Not found">
        <div class="card-body">
          <span>23 November, 2023</span>
          <h5 class="card-title mt-4"(click)="goToLinkTwo()">JavaScript ES6 Features</h5>
          <p class="card-text">Exploring Advanced JavaScript ES6 Features for Modern Web Development</p>
        </div>
        <div class="link"><a target="_blank" href="https://paulserban.eu/blog/post/javascript-es6-features-every-developer-should-know/">read more <i class="fa-solid fa-arrow-right-long"></i></a></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 content-box alone-blog">
      <div class="card h-100 blog-content">
        <img class="h-50" src="assets/image/grid_flex.png" alt="pic blog Not found">
        <div class="card-body">
          <span>June 15, 2023</span>
          <h5 class="card-title mt-4" (click)="goToLinkThree()">CSS Grid Vs. Flexbox</h5>
          <p class="card-text">A Tutorial to Understand the Key Differences</p>
        </div>
        <div class="link"><a target="_blank" href="https://www.simplilearn.com/tutorials/css-tutorial/css-grid-vs-flexbox">read more <i class="fa-solid fa-arrow-right-long"></i></a></div>
      </div>
    </div>
  </div>
</div>
</section>
