<div class="nav-bar ">
  <div class="container ">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand .logo" href="#">Omar Emad</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse size  " id="navbarNavAltMarkup">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a href="#" class="nav-link"aria-current="page" (click)="hideEl()" >home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link" (click)="hideEl()">about</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link" (click)="hideEl()">services</a>
            </li>
            <li class="nav-item">
              <a href="#portfolio" class="nav-link" (click)="hideEl()">portfolio
              </a></li>
            <li class="nav-item">
              <a href="#blog" class="nav-link" (click)="hideEl()">blog</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link" (click)="hideEl()">contact</a>
            </li>
        </ul>
        </div>
      </div>
    </nav>
</div>
</div>
<header>
  <div class="head-home">
      <div class="home" id="home">
          <div class="home-content">
            <h3>hello i'm</h3>
            <h1>OMAR EMAD</h1>
            <h4></h4>
          </div>
        </div>
        <div class="layer"></div>
  </div>
</header>
